.userListItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  border-left: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}

.profilePic {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin: 0 1rem;
  background-size: center;
  background-position: center;
  border: solid 1px white;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.userName {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: white;
}

.lastMessageTime {
  color: white;
  font-size: 0.8rem;
}

@media screen and (max-width: 550px) {
  .userListItemContainer {
    /* border: none; */
  }
}
